#result{
  display: none;
  background-color: whitesmoke;
  width: 80%;
  text-align: center;
  border-radius: 20px;
}


.resultname{
  color : white;
  font-size: 1.2rem;
  background-color: #A5E3E6;
  width: 50%;
  text-align: center;
  border-radius: 20px;
}

.resultDesc{
  font-size: 20px;
}

